<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Youtube Downloader</title>
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="nav">
    {% if logged_in %}
    <div>
      <a href="videos/downloads">videos</a>
    </div>
    {% else %}
    <div>
      <a href="/login">login</a>
    </div>
    {% endif %}
    <div>
      <a href="/new">Create new user</a>
    </div>
  </div>
  <div class="center">
    <h1>Download videos to your home server</h1>
    <h2 style="color: red;">{{ Error }}</h2>
    <img src="static/Images/ytdl.png" alt="YOUTUBE DL">
    {% if logged_in %}
    <form method="post" action="videos/download">
      <label for="video_id">video_id</label>
      <input type="url" name="url" value="">
      <label for="password">password</label>
      <input type="password" name="password" value="">
      <input type="hidden" name="id" value="{{ id }}">
      <input type="submit" name="Download Video">
    </form>
    {% endif %}
  </div>
</body>

</html>
